<div class="p-15 shadow-sm ">
    <div class="mb-15 flex align-center justify-center rounded">
        <p-selectbutton [options]="valuationHeader" [(ngModel)]="selectedValuationHeader" [multiple]="false"
            optionLabel="name" optionValue="value" (ngModelChange)="onValuationFilterChange($event)" />
    </div>
    <div class="mt-10">
        <p-table 
            #dt2
            [value]="filteredValuations" 
            [responsiveLayout]="'scroll'" 
            [tableStyle]="{ 'min-width': '50rem'}"
            [size]="selectedValuationHeader" 
            [paginator]="true"
            [rows]="rows" 
            stripedRows
            [rowsPerPageOptions]="[20, 50, 100, 150]" 
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
            [globalFilterFields]="['company_name']"
            styleClass="valuation-table-sticky">

            <!-- search -->
            <ng-template pTemplate="caption">
                <p-inputgroup>
                    <input
                        pInputText
                        type="text"
                        (input)="dt2.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search by comapany name"
                        class="search-input"
                    />
                </p-inputgroup>
                <div class="flex justify-content-end">
                </div>
            </ng-template>

            <!-- header -->
            <ng-template #header>
                <tr>
                    <th style="width: 5%">#</th>
                    <th pSortableColumn="company_name" [ngStyle]="{'min-width': isSmallScreen ? '80px' : '300px','width': isSmallScreen ? '15%' : '40%'}">
                        Company
                        <p-sortIcon field="company_name" />
                    </th>
                    <th pSortableColumn="valuation" style="min-width: 120px;" class="text-center">
                        Valuation
                        <p-sortIcon field="valuation" />
                    </th>
                    <th pSortableColumn="ltp" class="text-center">
                        LTP
                        <p-sortIcon field="ltp" />
                    </th>
                    <th pSortableColumn="intrinsic_value" style="min-width: 150px;" class="text-center">
                        Intrinsic Value
                        <p-sortIcon field="intrinsic_value" />
                        <i class="pi pi-info-circle ml-15" pTooltip="{{INTRINSIC_VALUE}}"></i>
                    </th>
                    <th class="text-center" pSortableColumn="intrisic_date">
                        Intrinsic Value
                        <p-sortIcon field="intrisic_date" />
                    </th>
                </tr>
            </ng-template>

            <!-- body -->
            <ng-template #body let-company let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td pTooltip="{{ isSmallScreen ? company.company_name : company.company_sort_code }}" tooltipPosition="top">
                        <a (click)="redirectToCompanyDetailPage(company)">
                            {{ isSmallScreen ? company.company_sort_code : company.company_name }}
                        </a>
                    </td>
                    <td class="text-center"> 
                        <span [ngClass]="getClassNameBaseValuationType(company.valuation)">{{ company.valuation }}</span>
                    </td>
                    <td class="text-center">{{company.ltp | number}}</td>
                    <td class="text-center"tooltipPosition="top">{{ company.intrinsic_value | number }}</td>
                    <td class="text-center">{{company.intrisic_date}}</td>
                </tr>
            </ng-template>

            <!-- empty message -->
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" class="p-3 text-center">
                        <i class="pi pi-info-circle mr-5"></i>
                        No data available.
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>