@use '../../../assets/styles/variables' as *;

::ng-deep .p-selectbutton {
    border: 1px solid var(--border);

    .p-togglebutton-label {
        font-size: 14px !important;
    }

    .p-togglebutton-checked {
        .p-togglebutton-content {
            background-color: var(--light-primary);
            color: var(--primary);
        }
    }
}

::ng-deep .p-inputgroup {
    display: flex;
    justify-content: end;

    .search-input{
        max-width: 350px !important;
    }
}

/* make second column sticky */
.valuation-table-sticky ::ng-deep .p-datatable-tbody > tr > td:nth-child(2),
.valuation-table-sticky ::ng-deep .p-datatable-thead > tr > th:nth-child(2) {
    position: sticky;
    left: 15px;
    z-index: 9;
}

.highly-overvalued{
    color: var(--error);
}

.overvalued{
    color: var(--warning);
}

.fairly-valued{
    color: var(--info);
}

.undervalued{
    color: var(--success);
}