<div class="p-10 border-1 rounded shadow h-full w-full">
    <p class="text-center text-dark font-bold">landing works!</p>
    <br />

    <br />
    <button (click)="testToast()" class="btn btn-primary p-10 rounded-xl">Click me</button>
    <br>
    <br>
    <button (click)="testSpinner()" class="btn btn-primary p-10 rounded-xl">Show spinner</button>
    <br>
    <button (click)="toggleTheme()" class="btn-tertiary-outline rounded-xl px-15 py-10 m-10 shadow-sm">Toggle Theme</button>
    <br>

    <h1> <span class="font-sm primary-color">this is testing</span>This is the example test heading</h1>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad architecto natus vero impedit,
        blanditiis, suscipit aut quo nulla laborum corporis, provident similique? Assumenda dignissimos,
        molestias, architecto quos id culpa iure, itaque soluta est temporibus laudantium velit voluptatum ab sunt.
        Quia a corporis laboriosam harum sunt porro mollitia fuga commodi deleniti!
    </p>
    <br>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad architecto natus vero impedit,
        blanditiis, suscipit aut quo nulla laborum corporis, provident similique? Assumenda dignissimos,
        molestias, architecto quos id culpa iure, itaque soluta est temporibus laudantium velit voluptatum ab sunt.
        Quia a corporis laboriosam harum sunt porro mollitia fuga commodi deleniti!
    </p>
    <br>

    <div class="m-10">
        <input type="text" placeholder="Please enter your name here">
    </div>

</div>