@use '../../../../assets/styles/variables' as *;

::ng-deep .p-menubar {
    border: none !important;
    border-radius: 0px !important;
    background-color: var(--bg-body) !important;
    border-bottom: 1px solid var(--border) !important;
}

::ng-deep .p-menubar-root-list {
    border-radius: 0px !important;
    background-color: var(--bg-body) !important;
}

::ng-deep .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
    background-color: var(--primary) !important;
}

::ng-deep .p-toggleswitch {
    height: 1.3rem !important;
}

::ng-deep .p-menubar-item-link-active {
    color: var(--primary) !important;
}