.notification {
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    background: var(--white);
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 1px;
}

::ng-deep .success {
    background-color: var(--success);
}

::ng-deep .error {
    background-color: var(--error);
}

::ng-deep .info {
    background-color: var(--warning);
}