@use './assets/styles/variables' as *;
@use './assets/styles/custom-styles' as *;
@use './assets/styles/overrides' as *;
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: var(--primary-color);
  background-color: var(--bg-body);
  font-size: 14px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
  background: none;
}

input,
textarea {
  font-family: inherit;
  outline: none;
  background-color: var(--bg-card);
  color: var(--primary-color);
  border: 1px solid var(--border);
}

input::placeholder {
  color: var(--tertiary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}