@use './assets/styles/variables' as *;
@use './assets/styles/custom-styles' as *;
@use './assets/styles/overrides' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}