.p-inputtext {
    border: 1px solid var(--border) !important;
    font-size: 14px !important;
}

.p-datatable {
    min-width: '50rem';
    overflow-x: 'auto' !important;
}

.p-paginator-page.p-paginator-page-selected {
    background-color: var(--primary) !important;
    color: var(--white) !important;
}

.p-paginator-page {
    min-width: unset !important;
    height: 2rem !important;
    width: 2rem !important;
}

.p-splitter-gutter {
    width: 1px !important;
}

table.striperow {
    width: 100%;
    
    tr {
        &:nth-child(even) {
            background-color: var(--stripe-even);
        }

        &:nth-child(odd) {
            background-color: var(--stripe-odd);
        }
    }
}

// high chart scss 
.highcharts-yaxis-labels {
    text {
        color: var(--primary-color) !important;
        fill: var(--primary-color) !important;
    }
}

.highcharts-xaxis-labels {
    text {
        color: var(--primary-color) !important;
        fill: var(--primary-color) !important;
    }
}

.highcharts-yaxis-grid {
    path {
        color: var(--border) !important;
        fill: var(--border) !important;
        stroke: var(--border) !important;
    }
}

.highcharts-xaxis {
    path {
        color: var(--border) !important;
        fill: var(--border) !important;
        stroke: var(--border) !important;
        stroke-width: 2 !important;
    }
}

.highcharts-yaxis{
    text{
        display: none !important;
    }
}