:root {
    /* Primary Palette */
    --primary: #032B44;
    --secondary: #F28C2B;
    --tertiary: #0D7B66;

    /* Backgrounds */
    --white: #FFFFFF;
    --bg-body: #FFFFFF;
    --bg-card: #EFEFEE;
    --border: #E5E7EB;

    /* Text Colors */
    --primary-color: #111827;
    --secondary-color: #4B5563;
    --tertiary-color: #9CA3AF;

    /* Shadows */
    --shadow-color: rgba(0, 0, 0, 0.1);

    /* Functional Colors */
    --error: #ff0909;
    --success: #22C55E;
    --warning: #f59e0b;

    --bg-primary-blue: #374ef4;
}

html.my-app-dark {
    /* Primary Palette */
    --primary: #032B44;
    --secondary: #F28C2B;
    --tertiary: #0D7B66;

    /* Backgrounds */
    --white: #0F172A;
    --bg-body: #0F172A;
    --bg-card: #1E293B;
    --border: #334155;

    /* Text Colors */
    --primary-color: #F3F4F6;
    --secondary-color: #D1D5DB;
    --tertiary-color: #9CA3AF;

    /* Shadows */
    --shadow-color: rgba(0, 0, 0, 0.6);

    /* Functional Colors */
    --error: #FF7070;
    --success: #4ADE80;
    --warning: #FBBF24;
}