:root {
    /* Primary Palette */
    --primary: #4bCC01;
    // --primary: rgb(29, 155, 240);
    --light-primary: #E8FCC9;
    --secondary: #F28C2B;
    --secondary-light: #F9C58A;


    /* Backgrounds */
    --white: #FEFFFF;
    --bg-body: #FFFFFF;
    // --bg-body: #FEEEEE;
    --border: #E5E7EB;

    /* Text Colors */
    --primary-color: #111827;
    --secondary-color: #4B5563;
    --tertiary-color: #9CA3AF;

    /* Shadows */
    --shadow-color: rgba(0, 0, 0, 0.1);

    /* Functional Colors */
    --error: #ff0909;
    --success: #22C55E;
    --warning: #f59e0b;
    --info: #3B82F6;

    --stripe-odd: #FEFFFF;
    --stripe-even: #f9FBFD;
}

html.my-app-dark {
    /* Primary Palette */
    --primary: #4BCC01;
    // --primary: rgb(29, 155, 240);
    --light-primary: #18271C;
    --secondary: #F28C2B;
    --secondary-light: #F9C58A;

    /* Backgrounds */
    --white: #0F172A;
    --bg-body: #0c1216;
    // --bg-body: #0C1421;
    --border: #27272A;

    /* Text Colors */
    --primary-color: #F3F4F6;
    --secondary-color: #D1D5DB;
    --tertiary-color: #9CA3AF;

    /* Shadows */
    --shadow-color: rgba(0, 0, 0, 0.6);

    /* Functional Colors */
    --error: #FF7070;
    --success: #4ADE80;
    --warning: #FBBF24;
    --info: #60A5FA;

    // stripe table
    --stripe-odd: #18191A;
    --stripe-even: #09090A;
}